<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>CREST UPRM</title>
    <meta name="description" content="Capstone Project-Computer Enginering UPRM">
    
    <!-- component-> bootstrap -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endcomponent-->
    
    <!-- ccs-> styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endcss-->

      <!-- tyle for navbar -->
       <style type="text/css">
          .navbar-custom {
                    
                    background-color: #606060;
                  } 
       </style>
       <!--  endstyle-->
  </head>

  <body ng-app="SysdatApp">
    
    <!--
       custom: for custom style
       default: characteristics from the default style
       fixed-top: goes top of the page charateristic
  -->
    <nav class="navbar navbar-custom navbar-default navbar-fixed-top " >

      <div class="container-fluid">
        <!--Logo-->
        <div class="navbar-header">
           <a href="">

            <img src="images/Sysdat3.png"> </a>
        </div>
        <!--endlogo-->
        <!--collapse class: space between components-->
        <div id="navbar" class="collapse navbar-collapse ">
         
         <!--
                 nav: bootsrap class, go to bootstrap.css to customize
                 left: to take padding characteristics
       -->
          <ul class="nav navbar-nav navbar-left">

            <li ng-class="{active: main.active.tab == 'profile'}">
                 <a ng-click='main.active.tab = "profile"'ng-href="#/profile" style="margin-top:1px;">Profile</a>
            </li>
            <li ng-class="{active: main.active.tab == 'members'}">
                 <a  ng-click='main.active.tab = "members"' ng-href="#/members" style="margin-top:1px;">Members</a>
            </li>
            <li>
                 <a ng-click='main.active.tab = "Activities"' ng-href="#" style="margin-top:1px;">Activities</a>
            </li>

            <li>
                 <a ng-click='main.active.tab = "Reports Manager"' ng-href="#" style="margin-top:1px;">Reports Manager</a>
            </li>

            <li>
                 <a ng-click='main.active.tab = "Progress Reports"' ng-href="#" style="margin-top:1px;">Progress Reports</a>
            </li>
          </ul>
            <!-- end left menu-->
            <!--
                 nav: bootsrap class, go to bootstrap.css to customize
                 right: to take padding characteristics
             -->  
          <ul class="nav navbar-nav navbar-right">
            <li >
                 <a  style="color:white;margin-top:1px;"><em>Juan Alejandro </em></a>
            </li>
            <li>
                 <a href="">
                 <img src="images/not1.png" style="height:100%; margin-top:-8px;"> <span class="badge">2</span></a>
            </li>
            <li >
                 <a  ng-click='main.active.tab = "profile"' ng-href="#" style="margin-top:1px;">Logout</a>
            </li>
            <li >
                 <a ng-click='main.active.tab = "profile"' ng-href="#/profile" style="margin-top:1px;"> Help</a>
            </li>
          </ul>
          <!-- end right menu-->
        </div>
      </div>
    </nav>
  
<!-- second menu-->
    <div class="container-fluid" >
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar" >

          <ul class="nav nav-sidebar" >
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">Search Member</a></li>
            <li><a href="#">Add Members</a></li>
            <li><a href="#">Hierarchy</a></li>
            <li><a href="#">Generate Report</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><a href="">View Activities</a></li>
            <li><a href="">Create Activity</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">View Notifications</a></li>
            <li><a href="">Send Notification</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><a href="">View Reports</a></li>
            <li><a href="">Generate Reports</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><a href="">Submit Progress Report</a></li>
            <li><a href="">Submit Document</a></li>
          </ul>

        </div>

        <div  class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main"  ng-view="" ng-controller="MainCtrl as main">
          

        </div>
        
      </div>
    </div>





    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'Sysdat');
       ga('send', 'pageview');
    </script>

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->
</body>
</html>
