<div class="fluid-container">
 <div class="row">
        <div class="col-sm-7 col-md-5 " style="padding-top:27px;">
          
 <img src="images/imagen.png" alt="Crest" align="middle">
        </div>
        <div class="col-sm-5 col-md-6 " >
        	<div align="center">
        		<img src="images/phase.png" alt="Crest">
        	</div>
          
        <table class="table table-striped">
        	<tr >
         <th align="middle">
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspIntegrating Science, Education and Technology
</th>
        </tr>
        <tr >
          <th>
We are pleased to announce that National Science Foundation (NSF) will support Phase II of our UPRM CREST: Nanotechnology Center for Biomedical, Environmental and Sustainability Applications.The grant award was made for $5,000,000/5 years.
        </th>
        </tr>

        </table>
        </div>
</div>


<br>

    </div>

<div class="jumbotron">
  <h2>Are you a Member?</h2>
  <p class="lead">
    <br>
 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Request Access!</a></p>
</div>

<div class="row marketing">

</div>