<div class="row">
	<div class="col-sm-6 col-md-7">
		<form class="form-signin" ng-controller="LoginCtrl as login">
			<h2 class="form-signin-heading">Sign in</h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input ng-model="login.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input ng-model="login.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button ng-click="login.loginSesion()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>


</div>

<div class="row " >
	
	<div class="col-sm-6 col-md-8 jumbotron" >
		<h1>Welcome to Sysdat!!</h1>
		<p>In order to use the system please login with your credentials. If for any reason dont have any credential please use <b>info@sysdat.com</b> to contact the administrator to obtain acces to Sysdat or use Request Acces button.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Request Acces</a></p>
	</div>

</div>

